@*@model IEnumerable<CyberCooperative_Model.Transaction_Table>

@{
//ViewBag.Title = "Index";
//Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="myTable">
    <thead>
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Month
            </th>
            <th>
                Yeay
            </th>
            <th>
                Amount
            </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr class="odd gradeX">
                <td>
                    @item.AccountNumber
                </td>
                <td>
                    @item.Month
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>

        }
    </tbody>
</table>*@

