@model CyberCooperativeManagementSystem.Areas.Admin.Models.LoanViewModel
@{
    ViewBag.Title = "TotalSavings";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<h2>TotalSavings</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4><i class="fa fa-cloud"></i>Total Savings</h4>
    </div>
    <div class="panel-body">
       
        
                <div class="form-horizontal" style="border-radius: 0px;">
                    <div class="form-group">
                        @Html.Label("####", null, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2"></span>
                                <input type="text" maxlength="12" onkeypress="return isNumberKey(event)" name="EmployeeId" id="usercombobox" class="form-control" placeholder="########" readonly="readonly" aria-describedby="basic-addon2">
                            </div>
                        </div>

                      
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.Label("Name", null, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">Name</span>
                                <input type="text" name="userName" class="form-control" placeholder="Memeber name" aria-describedby="basic-addon2" readonly id="div1">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Principal", null, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-md-10">
                            <div class="input-group">
                               
                                <input type="button" value="overall total savings" @*name="usersHistory"*@ id="usersHistory" class="form-control" placeholder="overall total savings" readonly>

                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                       
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Generate" class="btn btn-primary" id="generate" />
                        </div>
                    </div>
                    </div>
                </div>
       
            
</div>
